

body {
	background: #0B243B;
	color: #eee;
}
article {
	display: inline-block;
	margin: 20px;
}

/**
 * List used for the demo page
 */
ul {
	position: relative;
	width: 280px;
	height: 480px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	list-style: none;

	-webkit-perspective: 400px;
	   -moz-perspective: 400px;
	    -ms-perspective: 400px;
	     -o-perspective: 400px;
	        perspective: 400px;
}
	ul li {
		position: relative;
		padding: 16px;
		background: #eee;
		color: #252525;
		font-size: 18px;
		z-index: 2;

		-webkit-transform: translateZ(0px);
		   -moz-transform: translateZ(0px);
		    -ms-transform: translateZ(0px);
		     -o-transform: translateZ(0px);
		        transform: translateZ(0px);
	}
	ul li:nth-child(odd) {
		background: #fff;
	}

 /**
 * Fade styles
 */
.fade li {
	-webkit-transition: opacity .35s ease-in-out;
	   -moz-transition: opacity .35s ease-in-out;
	    -ms-transition: opacity .35s ease-in-out;
	     -o-transition: opacity .35s ease-in-out;
	        transition: opacity .35s ease-in-out;
}
	.fade li.past {
        opacity: 0;
	}
	.fade li.future {
        opacity: 0;
	}


